{% extends '@MopaBootstrap/base.html.twig' %}

{% block head %}
        {% block stylesheets %}
            {{ parent() }}
            {% stylesheets filter="cssembed,cssrewrite,yui_css"
            '%kernel.root_dir%/../vendor/sonata-project/core-bundle/Resources/public/select2/select2.css'
            '@bootstrap_less'
            '@jquery_ui_css'
            '../app/Resources/public/css/main.css'
            '%kernel.root_dir%/../vendor/tapmodo/Jcrop/css/jquery.Jcrop.min.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
            {% endstylesheets %}


        {% endblock %}


        {% block head_script %}
            {% block javascripts %}
                {{ parent() }}
                {% javascripts

                '@jquery_js' '@bootstrap_js'
                '%kernel.root_dir%/../vendor/sonata-project/core-bundle/Resources/public/select2/select2.min.js'
                '@jquery_ui_js'
                '%kernel.root_dir%/../vendor/tapmodo/Jcrop/js/jquery.Jcrop.min.js'
                '%kernel.root_dir%/../vendor/jeremymlane/bootbox/bootbox.js'
                %}
                <script src="{{ asset_url }}"></script>

                {% endjavascripts %}
            {% endblock %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock head_script %}



{% block head_bottom %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
{% endblock head_bottom %}
{% endblock head %}


{% block body %}
    <body>
        {% block navbar %}
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-inner">
                    {{ knp_menu_render('ZEBABundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'ZEBABundle:Menu:main_menu.html.twig'}) }}
                    {{ knp_menu_render('ZEBABundle:MenuBuilder:userMenu', {'currentClass': 'active', 'template': 'ZEBABundle:Menu:main_menu.html.twig'}) }}
                </div>
            </div>

        {% endblock navbar %}
        {% block pre_container %}
            <div class="{% block container_class %}container{% endblock container_class %}">
            {% block container %}
                    <div class="{% block content_class %}content{% endblock content_class %}"></div>
            {% endblock container %}
            </div>
        {% endblock pre_container %}
    </body>
{% endblock body %}
