<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <meta charset="UTF-8"/>
        {% block stylesheets %}
            {% stylesheets filter="cssembed,cssrewrite,yui_css"
            '%kernel.root_dir%/../vendor/sonata-project/core-bundle/Resources/public/select2/select2.css'
            '@bootstrap_less'
            '@jquery_ui_css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
            {% endstylesheets %}


        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head_script %}
            {% block javascripts %}
                {% javascripts

                '@jquery_js' '@bootstrap_js'
                '%kernel.root_dir%/../vendor/sonata-project/core-bundle/Resources/public/select2/select2.min.js'
                '@jquery_ui_js' '@underscore_js'
                '@PunkAveFileUploaderBundle/Resources/public/js/jquery.fileupload.js'
                '@PunkAveFileUploaderBundle/Resources/public/js/jquery.iframe-transport.js'
                '@PunkAveFileUploaderBundle/Resources/public/js/FileUploader.js'
                %}
                <script src="{{ asset_url }}"></script>

                {% endjavascripts %}
            {% endblock %}
        {% endblock head_script %}

        <title>{% block title %}Mopa Bootstrap Bundle{% endblock title %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    </head>
{% endblock head %}


{% block body %}
    <body>
        {% block navbar %}
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-inner">
                    {{ knp_menu_render('ZEBABundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'ZEBABundle:Menu:main_menu.html.twig'}) }}
                    {{ knp_menu_render('ZEBABundle:MenuBuilder:userMenu', {'currentClass': 'active', 'template': 'ZEBABundle:Menu:main_menu.html.twig'}) }}
                </div>
            </div>

        {% endblock navbar %}
        <div class="{% block container_class %}container{% endblock container_class %}">
        {% block container %}
                <div class="content"></div>
        {% endblock container %}
        </div>
    </body>
{% endblock body %}
</html>
