{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(edit_form) }}
{% endblock %}
{% block container %}
    {% include 'ZEBABundle::show_new_location_modal.html.twig' %}
    <button class="btn btn-primary" id="btnShowNewLocation" data-target="#largeModal">Add New Address</button>

    {{ form_start(edit_form) }}
    {# render the task's only field: description #}
    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.description) }}
    {{ form_row(edit_form.genres) }}
    {{ form_row(edit_form.addresses) }}
    {{ form_row(edit_form.musicians) }}







    {% for bandVacancyAssociation in edit_form.vars.value.bandVacancyAssociations %}
        Genres:
        {% for genre in bandVacancyAssociation.bandVacancy.genres %}
            <div>{{ genre.id }}</div>
        {% endfor %}
        Instruments:
        {% for instrument in bandVacancyAssociation.bandVacancy.instruments %}
            <div>{{ instrument.id }}</div>
        {% endfor %}
    {% endfor %}

    {{ form_end(edit_form) }}

    {{ form(delete_form) }}

{% endblock %}