{% extends '::user-base-ajax.html.twig' %}

    {% block fos_user_content %}

        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            {{ form_widget(form) }}



            <div id="btn-facebook" class="btn btn-facebook btn-width-200"><i class="fa fa-facebook"></i> | Register with Facebook</div>
            <div id="btn-google-plus" class="btn btn-google-plus btn-width-200"><i class="fa fa-google-plus"></i> | Register with Google +</div>
            <div id="btn-twiter" class="btn btn-twitter btn-width-200"><i class="fa fa-twitter"></i> | Register with Twitter</div>
            <div id="btn-github" class="btn btn-github btn-width-200" ><i class="fa fa-github"></i> | Register with Github</div>
            <div class="modal-footer">
                <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
        <script>
            $(document).ready(function () {
                $("#btn-github").on("click", function(){
                    window.location = '{{ path("fos_user_security_login") }}/github';
                });
                $("#btn-google-plus").on("click", function(){
                    window.location = '{{ path("fos_user_security_login") }}/google';
                });
                $("#btn-facebook").on("click", function(){
                    window.location = '{{ path("fos_user_security_login") }}/facebook';
                });

            });
        </script>
    {% endblock fos_user_content %}
