{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(edit_form) }}
{% endblock %}
{% block container %}
    {% include 'ZEBABundle::show_new_location_modal.html.twig' %}
    <button class="btn btn-primary fa fa-globe" id="btnShowNewLocation" data-target="#largeModal"> Add New Address
    </button>
    <ul class="nav nav-pills">
        <li class="active"><a href="#tabBandsMain" data-toggle="pill">General</a></li>
        {% if edit_form.vars.value.className == 'band' %}
            <li><a href="#tabBandsVacancies" data-toggle="pill">Band Vacancies</a></li>
        {% endif %}
        <li><a href="#tabBandsMedia" data-toggle="pill">Media</a></li>
    </ul>

    {{ form_start(edit_form) }}
    <div class="tab-content" id="tab-content">
        <div class="tab-pane " id="tabBandsMedia">
            <div class="row">
                {% for document in edit_form.documents.vars.data %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" name="chkDocuments"
                         id="divDocument{{ document.id }}"><input type="checkbox" id="{{ document.id }}"/><img
                                src="{{ document.getWebPath  | imagine_filter('assoc') }}"></div>
                {% endfor %}
            </div>
            <div class="row" id="mediaControls">
                <a href="#" class="btn btn-danger fa fa-trash-o" id="deleteDocument"> Delete Document</a>
            </div>

        </div>
        <div class="tab-pane active" id="tabBandsMain">
            <h4>Band Details</h4>
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.description) }}
            {{ form_row(edit_form.genres) }}
            {% if edit_form.vars.value.className == 'band' %}
                {{ form_row(edit_form.musicians) }}
            {% else %}
                {{ form_row(edit_form.instruments) }}
                {{ form_row(edit_form.bands) }}
            {% endif %}
            {{ form_row(edit_form.addresses) }}
        </div>
        {% if edit_form.vars.value.className == 'band' %}
            <div class="tab-pane " id="tabBandsVacancies">

                <div id="panelBandVacancies" class="panel"
                     data-prototype="{{ form_widget(edit_form.bandVacancyAssociations.vars.prototype)|e }}">
                    <h4>Band Vacancies</h4>
                    {% for bandVacancyAssociation in edit_form.bandVacancyAssociations %}
                        <div class="panel-group">
                            <div class="panel panel-default" id="panel{{ bandVacancyAssociation.vars.data.id }}">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse"
                                           data-target="#collapse{{ bandVacancyAssociation.vars.data.id }}"
                                           href="#collapse{{ bandVacancyAssociation.vars.data.id }}">
                                            {{ bandVacancyAssociation.vars.data.bandVacancy.name }}
                                        </a>
                                    </h4>
                                </div>
                                <div data-id="{{ bandVacancyAssociation.vars.data.id }}"
                                     id="collapse{{ bandVacancyAssociation.vars.data.id }}"
                                     class="panel-collapse collapse in">
                                    <div class="panel-body" id="panel-body{{ bandVacancyAssociation.vars.data.id }}">
                                        <div>
                                            {{ form_row(bandVacancyAssociation.bandVacancy.name) }}

                                            {{ form_row(bandVacancyAssociation.bandVacancy.comment) }}
                                            {% for genre in bandVacancyAssociation.bandVacancy.genres %}
                                                {{ form_row(genre) }}
                                            {% endfor %}
                                            {% for instrument in bandVacancyAssociation.bandVacancy.instruments %}
                                                {{ form_row(instrument) }}
                                            {% endfor %}

                                        </div>
                                    </div>
                                    <button class="btn btn-danger fa fa-trash-o"
                                            id="deleteBandVacancyAssociation{{ bandVacancyAssociation.vars.data.id }}">
                                        Delete
                                        Vacancy
                                    </button>
                                </div>
                            </div>

                        </div>

                    {% endfor %}

                </div>
                {% include 'ZEBABundle::show_new_band_vacancy_modal.html.twig' %}
            </div>
        {% endif %}
        {{ form_end(edit_form) }}

    </div><!-- tab content -->
    <br>
    <div id="divNewDocument">
        <form id="frm_upload_document" name="frm_upload_document" method="post" enctype="multipart/form-data"
              action="{{ path('document_create', { 'aid':  edit_form.vars.data.id }) }}">
            <input class="btn btn-primary fa fa-plus-circle " id="btnShowNewDocument" name="btnShowNewDocument"
                   type="file" title=" Add New Document"/>
        </form>
    </div>


    <script type="application/javascript">
        function addForm($collectionHolder, $elementToPrepend) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have

            var newForm = prototype.replace(/__name__/g, index);
            $("#" + $elementToPrepend).prepend(newForm);


        }

        jQuery(document).ready(function () {
            $('input[type=file]').bootstrapFileInput();
            $("#mediaControls").append($("#divNewDocument"));
            var counter = -1;
            {% if edit_form.vars.value.className == 'band' %}
                {% for bandVacancyAssociation in edit_form.bandVacancyAssociations %}
                    counter++;
                    $("#ze_babundle_band_bandVacancyAssociations_" + counter + "_bandVacancy")
                            .appendTo($('#panel-body{{ bandVacancyAssociation.vars.data.id }}'));
                {% endfor %}
            {% endif %}
            var bandVacanciesHolder;
            // setup an "add a tag" link
            var addNewBandVacancy = $('<button href="#modalShowNewBandVacancy" data-toggle="modal"  class="btn btn-primary fa fa-plus-circle" id="btnShowNewBandVacancy" > Add New Vacancy</button>');
            var $newLinkLi = $('#panelBandVacancies').append(addNewBandVacancy);
            $('#tab-content').append('<br/><button type="submit" class="btn btn-primary"><span class="fa fa-floppy-o"></span> Submit Changes</button>');
            bandVacanciesHolder = $('#panelBandVacancies');
            bandVacanciesHolder.append($newLinkLi);
            bandVacanciesHolder.data('index', bandVacanciesHolder.find(':input').length);

            addNewBandVacancy.on('click', function (e) {
                e.preventDefault();
                addForm(bandVacanciesHolder, 'divShowNewBandVacancy');
            });

            $(document).on("click", 'button[id^="deleteBandVacancyAssociation"]', function (e) {
                $(this).parent().parent().remove();
            });
            $("#ze_babundle_band_submit").hide();
            $("#btnShowNewLocation").appendTo($("#s2id_ze_babundle_{{edit_form.vars.value.className}}_addresses"));
            $("div[id^='ze_babundle_band_documents']").remove();
        });


        $(function () {
            $("#deleteDocument").on("click", function () {
                var checked = $('input[name="divDocument"]:checked');
                bootbox.confirm("Are you sure?", function (result) {
                    debugger;
                    if (result) {

                    }
                    console.log(result, checked);
                });
            });
            $('#frm_upload_document')
                    .submit(function (e) {

                        var action = "{{ path('document_create', { 'aid':  edit_form.vars.data.id })  }}";
                        var method = 'POST'
                        $.ajax({
                            url: action,
                            type: method,
                            data: new FormData(this),
                            processData: false,
                            contentType: false
                        }).done(function (data) {
                            if (typeof data != 'undefined') {
                                var strDiv = '<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" id="divDocument' + data.id + '"><input type="checkbox" name="chkDocuments" id="' + data.id + '"/>' +
                                        '<img src=" ' + data.path + '"></div>';
                                $("div[id^='divDocument']").last().append(strDiv);

                            }

                        });


                        e.preventDefault();
                    });

            $("#btnShowNewDocument").change(function (e) {
                $('#frm_upload_document').submit();
            });

        });

    </script>
{% endblock %}