{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(edit_form) }}
{% endblock %}
{% block container %}
    <h1>Musician edit</h1>
    {#{{ dump(edit_form.vars.value.documents) }}#}
    {{ form(edit_form) }}
    <div class="row" style="text-align: center">
        {% for document in edit_form.vars.value.documents%}
        <div class="col-lg-2 col-sm-3 col-xs-4">
            <a href="#">
                <img src="/{{  document.getWebPath() }}" class="thumbnail img-responsive">
            </a>
        </div>
        {% endfor %}
    </div>
    <li>
        <a href="{{ path('musician') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>


{% endblock %}