{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(edit_form) }}
{% endblock %}
{% block container %}
    <h1>Musician edit</h1>
    {{ dump(edit_form.isNew) }}
    {{ form(edit_form) }}

    {# Hydrated by javascript #}
    <div class="file-uploader"></div>

    <button class="btn btn-primary" type="submit">{{ edit_form.isNew ? "Save New Listing" : "Save Changes" }}</button>

        <ul class="record_actions">
    <li>
        <a href="{{ path('musician') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

    <script type="text/javascript">
        {% set viewUrl =  "/uploads/tmp/attachments/" ~ edit_form.editId  %}
        // Enable the file uploader

        $(function() {
            new PunkAveFileUploader({
                'uploadUrl': {{ path('musician_upload', { editId: edit_form.editId }) | json_encode | raw }},
                'viewUrl': "{{ viewUrl }}",
                'el': '.file-uploader',
                'existingFiles': {{ punkave_get_files('tmp/attachments/' ~ edit_form.editId) | json_encode | raw }},
                'delaySubmitWhileUploading': '.edit-form'
            });
        });
    </script>
{% endblock %}