{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(edit_form) }}
{% endblock %}
{% block container %}
    {% include 'ZEBABundle::show_new_location_modal.html.twig' %}
    {% embed 'ZEBABundle::locations.html.twig' %}
        {%  block location_label %}<span><b>Locations </b></span>{% endblock location_label %}
        {% block location_text %}
            {{ address.city.name  }},
            {% if address.region.longName is defined %}{{ address.region.longName }},{% endif %}
            {{ address.city.country.name }}
        {% endblock location_text %}
    {% endembed %}
    <button class="btn btn-primary" id="btnShowNewLocation" data-target="#largeModal">Add New Address</button>
    {{ form(edit_form) }}
    <div id="dialog-confirm" title="Delete Image?" style="visibility: hidden">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        </p>
    </div>

    <script type="application/javascript">
        $("#basicModal").on("shown",function(){


        });

        $("#btnShowNewLocation").on('click', function () {
            var options = {
                "backdrop" : "static",
                "show": true
            }
            $('#basicModal').modal(options);
            setTimeout(function() {
                map.setCenter(new google.maps.LatLng(0, 0));
                map.setZoom( map.getZoom() );
                google.maps.event.trigger(map, "resize");

            }, 1000);


        });
        $("div[id^='delete-document-']").on('click', function () {
            var documentId = $(this).attr('data-document-id');
            var assocId = $(this).attr('data-assoc-id');
            var theDiv = $(this);
            var url = Routing.generate('document_delete', {'id': documentId, 'association_id': assocId});
            console.log(url);
            $("#dialog-confirm").dialog({
                resizable: false,
                height: 140,
                modal: true,
                buttons: {
                    "Delete item": function () {
                        $.post(url, function () {
                            bootbox.alert('Document successfully deleted');
                            theDiv.remove();
                        }).fail(function () {
                            bootbox.alert("error");
                        })
                        ;
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

    </script>

{% endblock %}