{% extends '::base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>{{ entity.name }}</h1>
            {% embed 'ZEBABundle::locations.html.twig' %}
                {% block location_text %}
                    {{ address.city.name  }}, {{ address.region.longName }}, {{ address.city.country.name }}
                {% endblock location_text %}
            {% endembed %}
            {% include 'ZEBABundle::genres.html.twig' %}
            {% include 'ZEBABundle::instruments.html.twig' %}
            <p>Description: {{ entity.description }}</p>
        </div>
    </div>
{% endblock %}
